<div class="profile-container">
  <h1 id="userName" class="userName">{{targetUser.firstName}} {{targetUser.lastName}}</h1>
    <script> 

    // get the users and friends using handlebar syntax
    const user = JSON.parse('{{{ json targetUser }}}');
    const friendAvailability = JSON.parse('{{{ json friendAvailability }}}');


    // TODO here I use the json helper to convert the objects passed to the template 
    // into strings. I then use json.parse to convert them back to json on line 6 and 7.
    // Finally, I use JSON.stringify to convert it back to a string on lines 18 and 19. As you
    // can tell this makes no sense but this code returns [Object Object] if we don't do this.
    // The fix might be to use another out of the box helper instead of json

    // we can remove any previously save events in the calender. Incase, someone else was signed into this browser
    localStorage.clear(); 
    // Store string of events and friends availability to be later used in the script.js 
    // to display the calender
    localStorage.setItem('events', JSON.stringify(user.dateAvailability));
    localStorage.setItem('friendAvailability', JSON.stringify(friendAvailability));

    </script>
  {{!-- <img class="profile-pic" src="{{dataImage targetUser.img}}" alt="profile picture"/> --}}
<div>

<div class="linkContainer">
  <h1>Welcome to your personal page</h1>
  <button type="button">Your Calendar</button> <br>
  <button onclick="window.location.href = '/addfriend'">Add a Friend</button>
  <button onclick="window.location.href = '/users/personal-page/create-a-group'">Create a Group</button>
  {{!-- <button type="button">Edit Profie</button> --}}
  <button onclick="window.location.href = '/addfriend/add-friend-to-group'">Add Friend to group</button>
  <button onclick="window.location.href = '/users/groups'">Group Calendar</button>
</div>

<div class="groupContainer">
<h3>Your Groups:</h3>
<ul reversed class="all-users">
  {{#each groups}}
   <li> Name: {{this}} </li>
  {{/each}}
  </ul>
</div>

<div class="friends">
<h3>Your friends:</h3>
<ul reversed class="all-users">
  {{#each friends}}
   <li> Name: {{this}} </li>
  {{/each}}
  </ul>
  </div>
